<table class="shadow-lg bg-white">
        <tr>
            <th class="bg-blue-100 border text-left px-8 py-4">Id</th>
            <th class="bg-blue-100 border text-left px-8 py-4">Name</th>
            <th class="bg-blue-100 border text-left px-8 py-4">Email</th>
            <th class="bg-blue-100 border text-left px-8 py-4">Password</th>
            <th class="bg-blue-100 border text-left px-8 py-4">Date Registered</th>
        </tr>
            <!-- promise was fulfilled -->
            {{!-- <tr>
                <td class="border px-8 py-4">{{ id }}</td>
                <td class="border px-8 py-4">{{ name }}</td>
                <td class="border px-8 py-4">{{ email }}</td>
                <td class="border px-8 py-4">{{ password }}</td>
                <td class="border px-8 py-4">{{ date }}</td>
            </tr> --}}
            {{#each users}}
                <tr>
                <td class="border px-8 py-4">{{ this.id }}</td>
                <td class="border px-8 py-4">{{ this.name }}</td>
                <td class="border px-8 py-4">{{ this.email }}</td>
                <td class="border px-8 py-4">{{ this.password }}</td>
                <td class="border px-8 py-4">{{ this.register_date }}</td>
            </tr>
            {{/each}}
    </table>